<div class="container">
    <div class="row">
        <div class="column">
            <nav>
                <ul class="pagination">
                    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
                        <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
                    </li>
                    <!-- <ng-container *ngFor="let image of images; let i = index;">
                        <li class="page-item" [appClass]="{ active: i === currentPage }" *ngIf="checkWindowIndex(i)">
                            <a (click)="currentPage = i" class="page-link">{{ i }}</a>
                        </li>
                    </ng-container> -->
                    <ng-container *appTimes="images.length; let i = index">
                        <li class="page-item" [appClass]="{ active: i === currentPage }" *ngIf="checkWindowIndex(i)">
                            <a (click)="currentPage = i" class="page-link">{{ i }}</a>
                        </li>
                    </ng-container>
                    <li class="page-item" [appClass]="{ disabled: currentPage === images.length - 1 }">
                        <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
                    </li>
                </ul>
            </nav>

            <div>
                <h4>{{ images[currentPage].title }}</h4>
                <img [src]="images[currentPage].url">
            </div>

            <!-- <div [ngSwitch]="currentPage">
                <div *ngSwitchCase="0">
                    Current page is zero
                </div>
                <div *ngSwitchCase="2">
                    Current page is two
                </div>
                <div *ngSwitchCase="3">
                    Current page is three
                </div>
                <div *ngSwitchDefault>
                    Unknown current page
                </div>
            </div> -->
        </div>
    </div>
</div>

<ul *appTimes="5">
    <li>Hi there!</li>
</ul>